<section id="title" class="coloured-section">
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-lg-6">
                <div class="title fs-2 mt-5">Step into Vendor Management System</div>
                <div class="body mt-3">A minor effort aimed at simplifying your management tasks.</div>
                <a type="button" class="btn btn-outline-light btn-lg mt-4" [routerLink]="['/vendor-details']">
                    Get Started
                </a>
            </div>
            <div class="col-lg-6">
                <img src="assets/images/home_img.svg" class="title-img">
            </div>
        </div>
    </div>
</section>